@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:600');
@font-face {
  font-family: "Note Code Font";
  src: url("B612 Mono-Regular.ttf");
}
@font-face {
  font-family: "Slide Font";
  src: url("Millimetre-Regular.otf") format("opentype"); /* format("opentype")*/
}

body
{
    margin:0px;
    padding:0px;
    width:100%;
    height:100%;min-height: 100%;
    overflow: hidden;
    background-color: #FFF8DC; /* Cormsilk */
    font-family: 'Josefin Sans';font-weight: 600;
    color: black; /* Royal Blue Traditional */
    font-weight: 900;
    font-size: 10px;
}

slide {
    position: absolute;
    width: 512px;
    height: 512px;
    opacity: 0.0; /* js show */
    transition: opacity 1.0s, left 0.8s;
    transform: translate3d(0, 0, 0); /* A fix for flickering text */
    /* background-color: #FFFFF0; /* Ivory, for testing, remove later */
}

w0, w1, w2, w3 {
    position: absolute;
    left: 0px;
    top: 0px;
    transform-origin: 0% 0%;
    font-family: 'Slide Font';/* font-weight: 600; */
    /* text-transform: uppercase; */
    height: fit-content; /* To calibrate using js */
    width: fit-content; /* To calibrate using js */
    white-space: nowrap;
}

w0 {
    color: #4169E1; /* Royal Blue web*/
    font-size: 8px;
}

w1, w2, w3 {
    color: #002366; /* Royal Blue Traditional */
    font-size: 12px;
}

w1 {
    font-size: 40px;
}
w2 {
    font-size: 32px;
}
w3 {
    font-size: 20px;
}

slide > note {
    opacity: 0.0;
    transition: opacity 1.0s;
    position: absolute;
    top: -50px;
    left: -200px;
    bottom: -50px;
    right: -200px;
    background-color: #FFFFF0; /* Ivory */
    word-wrap: normal;
    overflow-y: auto;
    font-family: 'Josefin Sans';font-weight: 600;
    font-size: 17px;
    color: #002366; /* Royal Blue Traditional */
    padding: 10px 25px 10px 25px;
    border: 2px solid #A9A9A9;
}

slide > note pre {
    font-family: "Note Code Font";
    font-size: 12px;
}
